@import url(../style.css);

/* General Use - Start */
.mb-32px {
    margin-bottom: 32px;
}

.section-title {
    grid-column: 2 / span 6;
}
/* General Use - End */


/* Overview Section - Start */
.overview-section {
    grid-template-rows: repeat(3, auto);
}

.overview-section p {
    grid-column: 2 / span 6;
    margin-bottom: 32px;
}
/* Overview Section - End */

/* Lessons Offered Section - Start */
.icon-grid {
    grid-column: 2 / 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.icon-grid p {
    text-align: center;
    width: 180px;
}

.icon-grid img {
    width: 90px;
    height: 90px;
}
/* Lessons Offered Section - End */

/* Price Listing Section - Start */
.prices-section {
    display: grid;
    grid-template-rows: auto 1fr auto;
} 

.pricing-row {
    grid-column: 2 / 8;
    display: flex;
    justify-content: space-around;
}

.prices-section p {
    grid-row-start: 3;
    grid-column: 2 / 8;
}
/* Price Listing Section - End */

/* Instructors Section - Start */
.instructor-photo-grid {
    grid-column: 1 / 9;
}


figure img{
    max-width: 389px;
    height: 483px;
    /* aspect-ratio: 389 / 483; */
    object-fit: cover;
}
/* Instructors Section - End */

/* Quote - Start */
.quote {
    font-family: "playfair", 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    margin: 32px 0;
}
/* Quote - End */


/* ########################### Tablet - Start ########################### */
@media (max-width: 992px) {
    .icon-grid {
        grid-column: 1 / span 8;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .pricing-row {
        grid-column: 1 / span 8;
        flex-direction: column;
    }

    .prices-section p {
        grid-row-start: 3;
        grid-column: 1 / span 8;
        margin: 0 8px 16px;
    }    
}
/* ########################### Tablet - End ########################### */


/* ########################### Mobile - Start ########################### */
@media (max-width: 576px) {
    .mb-32px {
        margin-bottom: 16px;
    }

    .overview-section p {
        grid-column: 1 / span 8;
        margin: 0 8px 16px;
    }

    .icon-grid p {
        width: 150px;
    }

    figure img{
        width: 302px;
        height: 382px;
    }
    
    .quote {
        font-size: 36px;
    }
}
/* ########################### Mobile - End ########################### */