@import url(../style.css);
.section {

    height: 508px; /* Set your desired height */
 
}
.white-txt{

    color:white;
}
.right-align{
    justify-items: end;     
}
.right-align h2, .right-align h3{
    text-align: end;
}
.txt-section-width{
    width: 50%;
    
}

.gray-bg{
    background-color: var(--gray);

}
.eighth-grid> div{
    grid-column: 2 / span 6;
    
   
}


.guitars-bg{
    background-image: url(../../assets/guitar-1.jpg);
   /*use grayscale 100% to change it to bnw*/
    filter:  brightness(100%)  contrast(120%)   grayscale(100%); 
    background-size:cover ;
    background-position: center; 

  
}
.keyboards-bg{
    background-image: url(../../assets/piano-flipped.jpg);
   /*use grayscale 100% to change it to bnw*/
    filter:  brightness(100%)  contrast(100%)   grayscale(100%); 
    background-size:cover ;
    background-position: center; 

}
.amplifiers-bg{
    background-image: url(../../assets/amplifier-1.jpg);
  /*use grayscale 100% to change it to bnw*/
    filter:  brightness(100%)  contrast(100%)  saturate(100%)  grayscale(100%); 
    background-size:cover  ;
    background-position:center;

}

.guitarteachers-bg{
    background-image: url(../../assets/musicnotes.jpg);
  /*use grayscale 100% to change it to bnw*/
    filter:  brightness(100%)  contrast(100%)  saturate(100%)  grayscale(100%); 
    background-size:cover  ;
    background-position:center;

}


@media (max-width: 992px){
    .formSubmit{
        width: 100%;;
    }

    }
    
    
    @media (max-width: 576px){
    .section{
        height:auto;
         }
    .bg-color-overlay{
        background-color:  #00000080;
      
   
    }
     .txt-section-width{
        width: 100%;
        margin: 10px 0px ;
        /* padding:1rem 0; */
    }
    .eighth-grid> div{
        grid-column: 1 / span 8;
        padding:0px 8px;
       
    }
    
    }
    


