@import url(../style.css);

/* General Use - Start */
.mb-32px {
    margin-bottom: 32px;
}

.grid-margin {
    grid-column: 2 / span 6;
}

.repair-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 3rem;
}

.repair-grid h3 {
    color: var(--deep-red);
}

section {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: black;
    color: white;
}

article {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}

.bg-grey-panel {
    grid-column: 2 / span 6;
    background-color: black;
    filter: opacity(75%);
}
/* General Use - End */

/* Repair Overview - Start */
.page-title {
    grid-column: 2 / span 6;
}
/* Repair Overview - End */

/* Acoustic Blurb - Start */
.bg-acoustic {
    background-image: url(../../assets/caio-silva-C7RFkKvThG4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Acoustic Blurb - End */

/* Electric Blurb - Start */
.bg-electric {
    background-image: url(../../assets/simon-weisser-phS37wg8cQg-unsplash-flipped.jpg);
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Electric Blurb - End */

/* ########################### Tablet - Start ########################### */
@media (max-width: 992px) {
    .repair-grid {
        grid-template-columns: 1fr;
    }
    
    .grid-margin {
        margin-left: 8px;
        margin-right: 8px;
    }
}
/* ########################### Tablet - End ########################### */

/* ########################### Mobile - Start ########################### */
@media (max-width: 576px) {
    .grid-margin {
        grid-column: 1 / span 8;
    }

    .repair-grid {
        row-gap: 24px;
    }

    section h2 {
        margin: 0 8px 32px;
    }

    section h3 {
        margin-bottom: 24px;
    }
}
/* ########################### Mobile - End ########################### */
