:root{
    --deep-red: #D80032;
    --neutral-red: #EF233C;
    --gray: #D9D9D9
}

@font-face {
    font-family: "lato-regular";
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "lato-bold";
    src: url(../assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "playfair";
    src: url(../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

h1 {
    font-family: "playfair", 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bold;
    margin: 32px 0;
}

h2 {
    font-family: "playfair", 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-family: "lato-bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

p {
    font-family: "lato-bold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

/* General */
.eighth-grid{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}
/* General End */

/* Navbar */
.eighth-grid nav{
    grid-column: 2 / span 6;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--deep-red);
}

.dropdown-item:hover {
    color: var(--deep-red);
}

.collapse{
    margin-right: 134px;
}
/* Navbar */



/* Footer */
.footer-div{
    grid-column: 2 / span 6;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    color:white
}

.footer-content h3{
    color:white
}

.span-6{
    grid-column: span 6;
    display: flex;
    justify-content: center;
}

.logo-JMC {
    max-width: 134px;
    max-height: 49px;
    object-fit: cover;
}
/* Footer End */


@media (max-width: 992px){
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    .footer-div{
        grid-column: 1 / span 8;
        margin-left: 16px;
        margin-right: 16px;
    }
}


@media (max-width: 576px){
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .footer-div{
        display: flex;
        flex-direction: column;
    }
}